<!-- Nav goes here -->
<app-navigation></app-navigation>

<div class="container">
  <h1 class="header-title">{{ user.username }}'s Profile</h1>
  <div class="user-container">
    <div class="user-info-container">
      <div class="user-info">
        <h1>Profile Info</h1>
        <p><strong>Username: </strong>{{ user.username }}</p>
        <p><strong>Email: </strong>{{ user.email }}</p>
        <p><strong>Birthday: </strong>{{ user.birthday }}</p>
      </div>
    </div>

    <!-- <div>
      <form>
        <mat-form-field class="edit-username">
          <mat-label>Username: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.username"
            type="text"
            name="Username"
            placeholder="New Username"
          />
        </mat-form-field>
        <mat-form-field class="edit-password">
          <mat-label>Password: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.password"
            type="text"
            name="Password"
            placeholder="New Password"
          />
        </mat-form-field>
        <mat-form-field class="edit-email">
          <mat-label>Email: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.email"
            type="email"
            name="Email"
            placeholder="New Email"
          />
        </mat-form-field>
        <mat-form-field class="edit-birthday">
          <mat-label>Birthday: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.birthday"
            type="date"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </div> -->

    <div class="update-user-section">
      <h1>Update User Info:</h1>

      <form>
        <mat-form-field class="edit-username">
          <mat-label>Username: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.username"
            type="text"
            name="Username"
            placeholder="New Username"
          />
        </mat-form-field>
        <mat-form-field class="edit-password">
          <mat-label>Password: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.password"
            type="text"
            name="Password"
            placeholder="New Password"
          />
        </mat-form-field>
        <mat-form-field class="edit-email">
          <mat-label>Email: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.email"
            type="email"
            name="Email"
            placeholder="New Email"
          />
        </mat-form-field>
        <mat-form-field class="edit-birthday">
          <mat-label>Birthday: </mat-label>
          <input
            matInput
            [(ngModel)]="userData.birthday"
            type="date"
            name="Birthday"
            placeholder="YYYY-MM-DD"
          />
        </mat-form-field>

        <div class="buttons-container">
          <button mat-raised-button color="primary" (click)="editUser()">
            Update Info
          </button>

          <button mat-raised-button color="warn" (click)="deleteUser()">
            Delete User
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="favorite-movies-section">
    <h1>Your Favorite Movies</h1>
    <div *ngIf="favoriteMovies.length === 0">
      <p>Your list is empty!</p>
    </div>
    <div class="favorite-movies-list">
      <div class="favorite-card" *ngFor="let movie of favoriteMovies">
        <img class="movie-image" src="{{ movie.imageURL }}" />
        <span class="movie-title">{{ movie.title }}</span>
      </div>
    </div>
  </div>
</div>
